{{ with (.Scratch.Get "params").footer }}
<footer>
    <article>
        {{- . | safeHTML -}}
    </article>
    <a href="mailto:bbhtt.zn0i8@slmail.me">
        <img src="/mail.svg" alt="Email">
    </a>
    <a rel="me" href="https://github.com/bbhtt">
        <img src="/github.svg" alt="GitHub">
    </a>
    <a rel="me" href="https://gitlab.com/bbhtt">
        <img src="/gitlab.svg" alt="GitLab">
    </a>
    <a rel="me" href="https://matrix.to/#/@bluepenquin:matrix.org">
        <img src="/matrix.svg" alt="Matrix">
    </a>
    <a rel="me" href="https://fosstodon.org/@bbhttt">
        <img src="/masto.svg" alt="Mastodon">
    </a>
    <a href="https://bbhtt.github.io/index.xml">
        <img src="/rss.svg" alt="Atom feed">
    </a>
</footer>
{{ end }}
